/* Styling the Body element i.e. Color,
		Font, Alignment */
body {
  color: #fff;
  background-color: #35b;
  font-family: Verdana;
  text-align: center;
}

a {
  color: #fff;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Styling the Form (Color, Padding, Shadow) */
.container {
  color: #000;
  background-color: #79f;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
  text-align: left;
  margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
  display: block;
  margin-bottom: 10px;
}

/* Styling form-control input,
  select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

/* Styling form-control Radio
  button and Checkbox */
.form-control input[type='radio'],
.form-control input[type='checkbox'] {
  display: inline-block;
  width: auto;
}

/* Styling Button */
button {
  background-color: #35b;
  color: #fff;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.item {
  align-self: flex-start;
  margin: 0;
}

.item-title {
  padding: 1rem 2rem 0.1rem;
}

.item-para {
  padding: 0.1rem 2rem;
}
